<p>view works!</p>
<div class="container bootstrap snippets bootdey my-5 mx-5">
    <div class="panel-body inf-content">
        <div class="row">
            <div class="col-md-4 my-5 pt-2">
                <img alt="" style="width:600px;" title="" class="img-circle img-thumbnail isTooltip"
                    src="https://as2.ftcdn.net/v2/jpg/02/03/68/69/1000_F_203686995_sxKXAdqjF43ZF4mbMcDxk7mUNlCrVb2D.jpg"
                    data-original-title="Usuario">
                <ul title="Ratings" class="list-inline ratings text-center">
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                    <li><a href="#"><span class="glyphicon glyphicon-star"></span></a></li>
                </ul>
            </div>
            <div class="col-md-6">
                <h2><strong style="display: flex; align-content: center;">User Information</strong></h2><br>
                <div class="table-responsive">
                    <table class="table table-user-information table-striped table-bordered">
                        <tbody>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Identification
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.userId}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        First Name
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.firstName}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Last Name
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.lastName}}
                                </td>
                            </tr>
                            <tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Contact
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.contact}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Gender
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.gender}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Age
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.age}}
                                </td>
                            </tr>
                            <tr>
                                <td>
                                    <strong>
                                        <span class="glyphicon glyphicon-asterisk text-primary"></span>
                                        Email Address
                                    </strong>
                                </td>
                                <td class="text-primary">
                                    {{viewdata.email}}
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>