<nav id="sidebar" class="sidebar js-sidebar">
    <div class="sidebar-content js-simplebar">
        <a class="sidebar-brand" href="index.html">
            <span class="align-middle">AdminKit</span>
        </a>

        <ul class="sidebar-nav">
            <li class="sidebar-header">
                Pages
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="dashboard" [routerLinkActive]="'active'">
                    <i class="align-middle fa-solid fa-house" data-feather="sliders"></i> <span
                        class="align-middle">Dashboard</span>
                </a>
            </li>
            <li class="sidebar-header">
                User Credential
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="users" [routerLinkActive]="'active'">
                    <i class="align-middle fa-solid fa-user" data-feather="square"></i> <span
                        class="align-middle">Users</span>
                </a>
            </li>


            <li class="sidebar-header">
                Pages
            </li>
            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="log-in" [routerLinkActive]="'active'">
                    <i class="align-middle fa-solid fa-right-to-bracket" data-feather="log-in"></i> <span
                        class="align-middle">Log In</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="register" [routerLinkActive]="'active'">
                    <i class="align-middle fa-solid fa-registered" data-feather="book"></i> <span
                        class="align-middle">Register</span>
                </a>
            </li>

            

            <li class="sidebar-header">
                Product Page
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="product" [routerLinkActive]="'active'">
                    <i class="align-middle fa-brands fa-shopify" data-feather="bar-chart-2"></i> <span
                        class="align-middle">Products</span>
                </a>
            </li>

            <li class="sidebar-header">
                Market Page
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="market" [routerLinkActive]="'active'">
                    <i class="align-middle fa-solid fa-shop" data-feather="bar-chart-2"></i> <span
                        class="align-middle">Market</span>
                </a>
            </li>

            <li class="sidebar-item">
                <a class="sidebar-link" routerLink="cart" [routerLinkActive]="'active'">
                    <i class="align-middle fa-solid fa-cart-shopping" data-feather="bar-chart-2"></i> <span
                        class="align-middle">Cart</span>
                </a>
            </li>

        </ul>

        <div class="sidebar">
            <div class="sidebar-cta-content">
                <strong class="d-inline-block mb-2">Upgrade to Pro</strong>
                <div class="mb-3 text-sm">
                    Are you looking for more components? Check out our premium version.
                </div>
                <div class="d-grid">
                    <a href="upgrade-to-pro.html" class="btn btn-primary">Upgrade to Pro</a>
                </div>
            </div>
        </div>
    </div>
</nav>